* {
  box-sizing: border-box;
}

:root {
  --dark-color-1: hsl(217, 54%, 11%);
  --dark-color-2: hsl(216, 50%, 16%);
  --dark-color-3: hsl(215, 32%, 27%);
  --light-color-1: hsl(0, 0%, 100%);
  --accent-color-1: hsl(215, 51%, 70%);
  --accent-color-2: hsl(178, 100%, 50%);
  --paragraph-text-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--dark-color-1);
  font-size: var(--paragraph-text-size);
}

.nft-preview-container {
  background-color: var(--dark-color-2);
  width: 25%;
  min-width: 400px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 10px;
}

.nft-content-wrapper {
  padding: 0 20px;
}

.nft-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-eye-icon {
  position: absolute;
  /* display: none; */
}

.nft-img {
  width: 90%;
}

.nft-title {
  color: var(--light-color-1);
  font-size: 28px;
}

.nft-description {
  color: var(--accent-color-1);
}

.timer-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: -10px;
}

.nft-price-container {
  display: flex;
  align-items: center;
}

.nft-ethereum-logo {
  padding: 0 10px;
  height: 20px;
}

.nft-price-text {
  color: var(--accent-color-2);
}

.nft-timer-container {
  display: flex;
  align-items: center;
}

.nft-timer-logo {
  padding: 0 10px;
  height: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
