* {
  box-sizing: border-box;
}

:root {
  --dark-color-1: hsl(217, 54%, 11%);
  --dark-color-2: hsl(216, 50%, 16%);
  --dark-color-3: hsl(215, 32%, 27%);
  --light-color-1: hsl(0, 0%, 100%);
  --accent-color-1: hsl(215, 51%, 70%);
  --accent-color-2: hsl(178, 100%, 50%);
  --paragraph-text-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--dark-color-1);
  font-size: var(--paragraph-text-size);
}

.nft-preview-container {
  background-color: var(--dark-color-2);
  width: 25%;
  min-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 10px;
  border-radius: 10px;
}

.nft-content-wrapper {
  padding: 0 20px;
}

.nft-image-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.nft-eye-icon {
  position: absolute;
  display: none;
  z-index: 10;
  transition: all 0.5s ease;
}

.nft-img {
  width: 100%;
  border-radius: 10px;
}

.nft-img-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  background-color: var(--accent-color-2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-image-container:hover {
  cursor: pointer;
}

.nft-image-container:hover .nft-eye-icon {
  display: block;
}

.nft-image-container:hover .nft-img-filter {
  opacity: 0.2;
}

.nft-title {
  color: var(--light-color-1);
  font-size: 28px;
}

.nft-title:hover {
  color: var(--accent-color-2);
  cursor: pointer;
}

.nft-description {
  color: var(--accent-color-1);
}

.timer-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: -10px;
}

.nft-price-container {
  display: flex;
  align-items: center;
}

.nft-ethereum-logo {
  padding: 0 10px;
  height: 20px;
}

.nft-price-text {
  color: var(--accent-color-2);
}

.nft-timer-container {
  display: flex;
  align-items: center;
  margin-right: -35px;
}

.nft-timer-logo {
  padding: 0 10px;
  height: 20px;
}

.nft-timer-text {
  color: var(--accent-color-1);
}

.nft-author-container {
  display: flex;
  width: 90%;

  align-items: center;
}

.nft-author-avatar {
  height: 35px;
  margin-right: 15px;
}

.nft-author {
  color: var(--accent-color-1);
  vertical-align: middle;
}

.nft-author-container > img {
  border: 1px solid white;
  border-radius: 50%;
}

.nft-author-link:hover {
  cursor: pointer;
  color: var(--accent-color-2);
}

hr {
  height: 1px;
  background-color: var(--accent-color-1);
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--light-color-1);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.nft-author-link {
  color: var(--light-color-1);
}
